.chat-message-user {
 color:blue;
 text-indent: 20%;   
}
.screen{
    display: inline-block;
}
header{
    font-size: 24px;
    color:green;
    background-color: black;
    justify-content: center;
}
#scrolltips{
    background-color: black;
    color:white;
    overflow: scroll;
    width: 200px;
    height:500px;
    float:right;
    border:2px solid black;
}
#interactions{
    width: 360px;
    height:200px;
    border:2px solid black;
    font-size: small;
    background-color: black;
    color:purple;
    overflow: scroll;
}
#char-display{
    overflow:scroll;
    width:360px;
    height:300px;
    border:2px solid black;
    font-size: small;
    background-color: black;
    color: green;
}
canvas {
    float:left;
    border: 2px solid rgb(85, 7, 7);
    background-color: black;
}